body{

    font-family: 'Poppins', sans-serif;  
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange{
    color:orange
}
section{
    display:flex;
    
}
.half-width{
    width: 50%;
    padding-left: 2%;
}

.half-width img{
    width:50%
}
.link-button{
   
    color:white;
    background-image: linear-gradient(orange,tomato);
    text-decoration: none;
    padding:2%;
    border-radius: 5px;
    font-weight: bold;
    
}
.top-banner{

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}






